<% @iteration.each do |i| %>
  <% if (i < 8 || (i >= 16 && i < 24) || (i >= 32 && i < 40) || (i >= 48 && i < 56)) %>
    <div id=<%= i %> class="box box-<%= @order[(i % 2).zero? ? 0 : 1] %> text-center">
      <% unless @chessboard[i].nil? %>
        <i class="fas fa-chess-<%= @chessboard[i].name.downcase %> <%= @chessboard[i].white ? 'piece-white' : 'piece' %> piece-icon"
          data-piece-id= <%= @chessboard[i].id %>>
        </i>
      <% end %>
    </div>
  <% else %>
    <div id=<%= i %> class="box box-<%= @order[(i % 2).zero? ? 1 : 0] %> text-center">
      <% unless @chessboard[i].nil? %>
        <i class="fas fa-chess-<%= @chessboard[i].name.downcase %> <%= @chessboard[i].white ? 'piece-white' : 'piece' %> piece-icon"
          data-piece-id= <%= @chessboard[i].id %>>
        </i>
      <% end %>
    </div>
  <% end %>
<% end %>
