<% 64.times do |j| %>
  <% if (j < 8 || (j >= 16 && j < 24) || (j >= 32 && j < 40) || (j >= 48 && j < 56)) %>
    <div id=<%= j %> class="box box-<%= @order[(j % 2).zero? ? 0 : 1] %> text-center">
      <% unless @chessboard[j].nil? %>
        <i class="fas fa-chess-<%= @chessboard[j].name.downcase %> <%= @chessboard[j].white ? 'piece-white' : 'piece' %> piece-icon"
          data-piece-id= <%= @chessboard[j].id %>>
        </i>
      <% end %>
    </div>
  <% else %>
    <div id=<%= j %> class="box box-<%= @order[(j % 2).zero? ? 1 : 0] %> text-center">
      <% unless @chessboard[j].nil? %>
        <i class="fas fa-chess-<%= @chessboard[j].name.downcase %> <%= @chessboard[j].white ? 'piece-white' : 'piece' %> piece-icon"
          data-piece-id= <%= @chessboard[j].id %>>
        </i>
      <% end %>
    </div>
  <% end %>
<% end %>
