<% @order.each_with_index do |type, i| %>
  <% if @chessboard[i * 8].nil? %>
    <div id=<%= i * 8 %> class="box box-<%= type %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 %> class="box box-<%= type %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8].name.downcase %> <%= @chessboard[i * 8].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 1].nil? %>
    <div id=<%= i * 8 + 1 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 1 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 1].name.downcase %> <%= @chessboard[i * 8 + 1].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 2].nil? %>
    <div id=<%= i * 8 %> class="box box-<%= type %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 2 %> class="box box-<%= type %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 2].name.downcase %> <%= @chessboard[i * 8 + 2].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 3].nil? %>
    <div id=<%= i * 8 + 3 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 3 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 3].name.downcase %> <%= @chessboard[i * 8 + 3].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 4].nil? %>
    <div id=<%= i * 8 + 4 %> class="box box-<%= type %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 4 %> class="box box-<%= type %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 4].name.downcase %> <%= @chessboard[i * 8 + 4].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 5].nil? %>
    <div id=<%= i * 8 + 5 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 5 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 5].name.downcase %> <%= @chessboard[i * 8 + 5].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 6].nil? %>
    <div id=<%= i * 8 %> class="box box-<%= type %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 6 %> class="box box-<%= type %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 6].name.downcase %> <%= @chessboard[i * 8 + 6].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

  <% if @chessboard[i * 8 + 7].nil? %>
    <div id=<%= i * 8 + 7 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
    </div>
  <% else %>
    <div id=<%= i * 8 + 7 %> class="box<%= %> box-<%= @order[i - 1] %> text-center">
        <i class="fas fa-chess-<%= @chessboard[i * 8 + 7].name.downcase %> <%= @chessboard[i * 8 + 7].white ? 'piece-white' : 'piece' %> piece-icon"></i>
    </div>
  <% end %>

<% end %>
