<div class="container flex-fluid">
  <div  class="chessboard" data-controller="chessboard"
                           data-chessboard-target="chessboard"
                           data-action="click->chessboard#click"
                           data-game-id=<%= @game.id %>>

    <%= render 'chessboard' %>
  </div>
  <div class="stats">
    <div class="stats-item">
      <h5>Moves made</h5>
      <p><%= @game.moves.size %></p>
    </div>
    <div class="stats-item">
      <h5>Time elapsed</h5>
      <% if @game.moves.empty? %>
        <p>Waiting for <span class="fw-500"><%= @game.player_white.nickname %></span> to make the first move </p>
      <% else %>
        <p><%= ((DateTime.now.utc - @game.created_at) / (60*60)).round(1) %> hours </p>
      <% end %>
    </div>
  </div>
</div>
